{% extends 'base.html' %}

{% block title %}Updates{% endblock %}

{% block nav_title %}Blogs{% endblock %}

{% block nav_items %}

<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
          <form method="get" action="/blogging" >
            <button style="background-color:transparent; border:0;" class="nav-link ">Homepage</button>
          </form>
        </li>



        <li class="nav-item active">
            <form method="get" action="/blogging/show_updates">
                <button style="background-color:transparent; border:0;" class="nav-link">Updates</button>
            </form>
        </li>

        <li class="nav-item">
          <form action="/blogging/onFilePress" method="get">
              <a class="nav-link"><button type="submit" class="btn btn-danger">Create Filefield</button></a>
          </form>
        </li>

    </ul>
</div>
{% endblock %}

{% block body %}
    <h1><center><b><u>UPDATED BLOGS</u></b></center></h1>
<br><br>
<center>

    <div class="row">
    <div class="col">
        <table class="table">

            <thead class="thead-dark">
            <tr>
                <th scope="col">ID OF BLOG</th>
                <th scope="col">ACTION</th>
                <th scope="col">OLD FILE CONTENT</th>
                <th scope="col">UPDATED FILE CONTENT</th>
                 <th scope="col">OLD CHARBLOG CONTENT</th>
                <th scope="col">UPDATED CHARBLOG CONTENT</th>
                <th scope="col">TYPE OF BLOG</th>
            </tr>
            </thead>
            <tbody>
         {% for ids,blog in blogs.items %}
             <tr>
                 <th scope="row">{{ids}}</th>
                <td>{{blog.3}}</td>
                <td>{{blog.0}}</td>
                <td>{{blog.2}}</td>
                <td>{{blog.4}}</td>
                <td>{{blog.5}}</td>
                <td>{{blog.1}}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>



    <br><br>
</center>
{% endblock %}